/*
Violet: 5E17EB


*/

* {
    font-family: 'Open Sans', sans-serif;
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --violet: #5E17EB;
  --black: #0e0e0e;
}

.customb1 {
    border: var(--violet);
    color: #0e0e0e;
    border: #0e0e0e;
    border: 0.1px solid black;
}

.customb2 {
    background-color: var(--violet);
    border: var(--white);
    color: #ffffff;
}

.customb2:hover {
    opacity: 4.5;
    background-color: #0e0e0e;
    color: #ffffff;
}

.customb1:hover {
    opacity: 4.5;
    background-color: #0e0e0e;
    color: #ffffff;
}

.category {
    color: var(--black);
}

.category:hover {
    color: var(--black);

}

.search-field {
    border-radius: 40px 40px;
}

.form-custom {
    padding: 5px 5px 5px 8px;
}

.form-custom:hover {
    padding: 5px 5px 5px 8px;
    color: #0e0e0e;
}

form .form-control:focus{
  border-color:#5E17EB;
  box-shadow: none;
}

.btn {
    border-radius: 0%;
}

.btn:focus {
    border-color:#5E17EB;
    box-shadow: none;
}

/*


.image {
  display: block;
  object-fit: cover;
  max-width:100%;
  max-height:100vh;
  width: auto;
  height: auto;
  width: 100vw;
  height: 100vh;
}

.image {
  opacity: 0.6;
  display: block;
  object-fit: cover;
  max-width:100%;
  max-height:100vh;
  width: auto;
  height: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

*/

.image {
  opacity: 0.6;
  overflow: hidden;
}
.footer{
    background-color: #D1C4EA;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}


.container {
    width: 80%;
}

.header {
    background-color: #0e0e0e;
    width: 80%;
    
}

.header-block {
    position: absolute;
    top: 40vh;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px 20px;
    border: 0.1px solid black;
    box-shadow: #ffffff 6px 6px 0px 1px;
    color: #0e0e0e;
}

.header-block::before {
       border: 0.5px;
}

.myheader img {
    display: block;
    max-width:100%;
    max-height:100vh;
    width: auto;
    height: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(1);
}

.p-tag {
    font-style: italic;
}

.my-container {
    width: 80%;;
}

input{
  border:none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-user-circle-o{
  color: gray;
}

.search-form {
    color: #0e0e0e;
    border: 0.1px solid black;
    padding: 5px 0px 5px 5px;
    display: block;
    margin-right: 26%;
}

.dream-imput {
    font-size: 14px;
}

.svg {
    align-items: center;
    align-self: auto;
    align-content: center;
}

.my-title {
    text-align: center;
    padding-top: 40px;
    font-family: roboto;
}

.container-p-tag {
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
}

.my-title-custom {
    text-align: center;
    padding-top: 10px;
    font-family: roboto;
    padding-bottom: 20px;
}

.customb3 {
    background-color: #ffffff;
    color: black;
    border: 0.1px solid black;
}

.customb3:hover {
    background-color: #e7d3d3;
    color: black;
    border: 0.1px solid black;
}

.card-title {
    font-family: roboto;
    font-size: 16px;
}

.card-name {
    font-size: 14px;
}

.custom-card:hover {
   border: 0.1px solid var(--black);
    filter: brightness(1.1);
}

.custom-card img:hover {
    background-color: #0e0e0e;
    color: #0e0e0e;
}

.custom-card img {
    filter: brightness(0.9);
}

.dropdown-item:focus {
    background-color: #0e0e0e;
    color: #ffffff;
} 

.dropdown-menu {
    margin: 0px;
}

.custom-card {
    padding: 8px 8px 0px 8px;
    border-radius: 0%;
    margin: 12px;
    -webkit-box-shadow: 24px 14px 30px 0px rgba(42, 50, 50, 0.07);
-moz-box-shadow:    24px 14px 30px 0px rgba(42, 50, 50, 0.07);
box-shadow:         24px 14px 30px 0px rgba(42, 50, 50, 0.07);
}

.star-card-div {
    display: block;
    position: relative;
    top: 30px;
}

.card-star {
    height: 22px;
    width: 22px;
    color: #ffffff;
    position: relative;
    top: -4px;
    
}

.card-students {
    padding: 0px 0px 0px 30px;
    position: relative;
    top: -25px;
    left: 0px;
}

.price {
    font-family: roboto;
}

.card-students {
    margin-bottom: 0px;
}

.card-body {
    padding-bottom: 0px;
}

.off {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}

.instructor {
    text-align: center;
    padding-bottom: 10px;
}

.instructor-div {
    text-align: center;
    /* background-color:#f7f7f7; */
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.1px solid rgb(216, 216, 216);
    -webkit-box-shadow: 24px 14px 30px 0px rgba(42, 50, 50, 0.07);
-moz-box-shadow:    24px 14px 30px 0px rgba(42, 50, 50, 0.07);
box-shadow:         24px 14px 30px 0px rgba(42, 50, 50, 0.07);
}
.my-special {
    text-align: center;
}

.girl {
    height: 300px;
    width: auto;
    position: relative;
    top: -10px;
    /* border: 0.1px solid black; */
    box-shadow:#5E17EB solid 6px 6px 0px 1px;
    color: #0e0e0e;
    -webkit-box-shadow: 24px 14px 30px 0px rgba(42, 50, 50, 0.07);
-moz-box-shadow:    24px 14px 30px 0px rgba(42, 50, 50, 0.07);
box-shadow:         24px 14px 30px 0px rgba(42, 50, 50, 0.07);
}
.girl:hover {
    height: 300px;
    width: auto;
    position: relative;
    top: -10px;
    border: 0.1px solid black;
    box-shadow: #a0a0a0 6px 6px 0px 1px;
    color: #0e0e0e;
}


.bestseller {
    font-weight: 600;
    font-size: 10px;
    background-color: #eeff00;
    color:#0e0e0e;
    border-radius: 99px;
    padding: 0px 2px 0px 2px;
    margin-left: 5px;
    opacity: 0.9;
}

.navbar {
    
    box-shadow: -1px 5px 14px 2px rgba(0,0,0,0.15);
-webkit-box-shadow: -1px 5px 14px 2px rgba(0,0,0,0.15);
-moz-box-shadow: -1px 5px 14px 2px rgba(0,0,0,0.15);
}


.card {
    border: 0.1px solid #f0f0f0 !important;
    border-radius: 5px;
}

/* .card:hover {
    border: 0.1px solid #000000 !important;
} */

/*
    Footer/
*/
.footer {
    background-color: #0e0e0e;
    padding-top: 40px;
    margin-top: 30px;
}

.ending-text {
    color: #ffffff;
}

.footer ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}
.footer ul li a{
    font-size: 18px;
    text-decoration: none;
    color:#D1C4EA;
}

.search-icon {
    position: relative;
    left: -40px;
}

@media all and (max-device-width: 420px) {
    .girl {
        height: 200px;
        width: auto;
        position: relative;
        top: -10px;
        border: 0.1px solid black;
        box-shadow:#5E17EB solid 6px 6px 0px 1px;
        color: #0e0e0e;
    }
    .girl:hover {
        height: 200px;
        width: auto;
        position: relative;
        top: -10px;
        border: 0.1px solid black;
        box-shadow: #a0a0a0 6px 6px 0px 1px;
        color: #0e0e0e;
    }
}

.smed i {
    color: #ffffff;
    font-size: 18px;
    margin: 2px;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.custom-card {
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.custom-card:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.hero-img {
    max-width: 60vw;
}

@media screen and (max-width: 1000px) {
    .hero-img {
        max-width: 30vw;
    }
}

.hero-img {
    max-width: 60vw;
}

.hero-img {
    max-width: 60vw;
}


.hero-text {
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 2.5rem;
}

.customb1 {
    
    background-color: black;
    color: #fff;
    font-family: Poppins;
}